body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Alterado para a fonte Inter */
  background-color: #f9fafb; /* Cor de fundo leve */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}